<table class="table m-2">
  <thead class="bg-dark text-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price in USD</th>
      <th scope="col">Details</th>
      <th scope="col">Count</th>
      <th scope="col">Cart</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prd of prdListOfCat;let i=index;trackBy:trackByFunc"
      [style.background-color]="(prd.Quantity==0)?'lightyellow':'lightblue'">
      <td>{{i+1}}</td>
      <td>{{prd.Name}}</td>
      <td><img [src]="prd.Img" width="100" height="100" BorderBox="orange" defaultColor="darkgray"></td>
      <td>
        <ng-container [ngSwitch]="prd.Quantity">
          <ng-container *ngSwitchCase="0">Out of stock</ng-container>
          <ng-container *ngSwitchCase="1">Last Item</ng-container>
          <ng-container *ngSwitchCase="2">Last 2 Item</ng-container>
          <ng-container *ngSwitchDefault>{{prd.Quantity}}</ng-container>
        </ng-container>

      </td>
      <td>{{prd.Price|currency:'USD':'code'}}</td>
      <td><button class="btn btn-warning" (click)="openDetails(prd.ID)">Details</button></td>
      <td><input type="number" class="form-control" #itemsCount></td>
      <td><button class="btn btn-success" [disabled]="prd.Quantity==0"(click)="updatePrice(prd.Price, itemsCount.value)"> ADD</button></td>
      <td><button class="btn btn-danger"  (click)="deleteProd(prd.ID)">Delete</button></td>
    </tr>
  </tbody>
</table>