<form class="container" (ngSubmit)="register()" [formGroup]="userFormGroup">
  <div class="mb-3">
    <label for="usrName" class="form-label">Full Name</label>
    <input type="text" class="form-control" name="usrName" id="usrName" formControlName="fullName"
      [class.is-valid]="fullName?.valid" [class.is-invalid]="fullName?.invalid">
    <div class="alert alert-warning" [hidden]="fullName?.valid || fullName?.untouched">
      <small *ngIf="fullName?.errors?.['required']">Full Name is required</small>
      <small *ngIf="fullName?.errors?.['minlength']">Full Name is must be 5 letters at least</small>
    </div>
  </div>
  <div class="mb-3">
    <label for="usrEmail" class="form-label">Email</label>
    <input type="email" class="form-control" name="usrEmail" id="usrEmail" formControlName="email"
      [class.is-valid]="email?.valid" [class.is-invalid]="email?.invalid">
  </div>
  <div formArrayName="mobileNo">
    <div class="mb-3 ms-4" *ngFor="let mob of mobileNo.controls;let i=index">
      <label for="usrMobile{{i+1}}" class="form-label">Mobile No.{{i+1}}</label>
      <input type="number" class="form-control" name="usrMobile{{i+1}}" id="usrMobile{{i+1}}" [formControlName]="i">
      <button class="btn btn-primary d-block ms-auto" (click)="addMobileInp()"
        *ngIf="mob.value && i==mobileNo.controls.length-1">+</button>
      <button class="btn btn-danger d-block ms-auto" (click)="deleteMobileInp()"
        *ngIf="mob.value && i==mobileNo.controls.length-1" [disabled]="i==0">-</button>
    </div>
  </div>
  <div formGroupName="address">
    Address:
    <div class="mb-3 ms-2">
      <label for="usrCity" class="form-label">city</label>
      <input type="text" class="form-control" name="usrCity" id="usrCity" formControlName="city"
        [class.is-valid]="city?.valid" [class.is-invalid]="city?.invalid">
    </div>
    <div class="mb-3 ms-2">
      <label for="PostalCode" class="form-label">PostalCode</label>
      <input type="text" class="form-control" name="PostalCode" id="PostalCode" formControlName="PostalCode"
        [class.is-valid]="PostalCode?.valid" [class.is-invalid]="PostalCode?.invalid">

    </div>
    <div class="mb-3 ms-2">
      <label for="usrStreet" class="form-label">Street</label>
      <input type="text" class="form-control" name="usrStreet" id="usrStreet" formControlName="street"
        [class.is-valid]="street?.valid" [class.is-invalid]="street?.invalid">

    </div>
  </div>
  <div class="mb-3">
    <label for="usrPass" class="form-label">Password</label>
    <input type="password" class="form-control" name="usrPass" id="usrPass" formControlName="password"
      [class.is-valid]="password?.valid" [class.is-invalid]="password?.invalid">

  </div>
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" formControlName="referral" name="referral" id="btnradio2" autocomplete="off"
      value="Anyday" (change)="updateRefValidation()">
    <label class="btn btn-outline-primary" for="btnradio2">Any day</label>
    <input type="radio" class="btn-check" formControlName="referral" name="referral" id="btnradio3" autocomplete="off"
      value="Specificdays" (change)="updateRefValidation()">
    <label class="btn btn-outline-primary" for="btnradio3">Specific days</label>
  </div>
  <div *ngIf="referral?.value=='Specificdays'">
    <label for="refOther">Specific day : </label>
    <input type="text" class="form-control" name="refOther" id="refOther" formControlName="referralOther">
  </div>
  <br>
  <button type="submit" class="btn btn-success" [disabled]="userFormGroup.invalid">Submit</button>
</form>


<hr>
{{userFormGroup.value | json}}
{{userFormGroup.get('fullName')?.errors | json}}
{{userFormGroup.get('mobileNo')?.errors | json}}
{{userFormGroup.get('city')?.errors | json}}
{{userFormGroup.get('PostalCode')?.errors | json}}
{{userFormGroup.get('street')?.errors | json}}
{{userFormGroup.get('password')?.errors | json}}